



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #FF7315;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #FF7315;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #FF7315;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input::-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea::-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea::-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 1.4;
 
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #FF7315;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
  background: -webkit-linear-gradient(bottom, #333333, #00000);
  background: -o-linear-gradient(bottom, #333333, #00000);
  background: -moz-linear-gradient(bottom, #333333, #00000);
  background: linear-gradient(bottom, #333333, #00000);
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../images/aaa.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.wrap-login100 {
  /*width: 450px;*/
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Raleway-Black;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  /*width: 100%;*/
  z-index: 1;
}

.input100 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}

.input200 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;

  display: block;
  width: 300px;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  /*padding: 0 30px 0 65px;*/
}



/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211,63,141, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #FF7315;
  padding-left: 18px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #FF7315;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #FF7315;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 62px;
  border-radius: 3px;
  background: #FF7315;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login200-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 200px;
  height: 62px;
  border-radius: 3px;
  background: #FF7315;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #FF7315;
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway-SemiBold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}


.w3l-banner-slider-main ul.top-hnt-right-content {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.w3l-banner-slider-main ul.top-hnt-right-content li {
  margin-left: 16px;
  list-style: none;
  color: #fff;
}

.w3l-banner-slider-main ul.top-hnt-right-content li a {
  color: #fff;
}

.w3l-banner-slider-main ul.top-hnt-right-content li.usernhy a {
  color: #fff;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.141);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.w3l-banner-slider-main ul.top-hnt-right-content li.usernhy a:hover {
  background: #ff7315;
}

.w3l-banner-slider-main a.btn-open span.fa {
  line-height: 34px;
  font-size: 20px;
}

.w3l-banner-slider-main p.login-texthny {
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.w3l-banner-slider-main .login label {
  color: #fff;
}

.w3l-banner-slider-main .login a {
  color: #b4b7bb;
}

.w3l-banner-slider-main .login-bghny .form-check label {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.w3l-banner-slider-main .login-bghny .form-control {
  border-radius: 4px;
  outline: none;
  border: none;
  color: #6b778d;
  font-size: 16px;
  padding: 10px 10px;
  background: #fff;
}

.w3l-banner-slider-main .login-bghny .form-control:focus {
  background: #f4f4f4;
}

.w3l-banner-slider-main button.submit-login.btn {
  box-shadow: none;
  background: #ff7315;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 16px;
  display: block;
  width: 100%;
  font-weight: 600;
}

.w3l-banner-slider-main button.submit-login.btn:hover {
  opacity: 0.9;
}

.w3l-banner-slider-main .form-check {
  position: relative;
}

.w3l-banner-slider-main .userhny-check input.form-check {
  display: none;
}

.w3l-banner-slider-main .userhny-check .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #f8f9fa;
  border: 1px solid #3a3535;
  border-radius: 4px;
}

.w3l-banner-slider-main .userhny-check label.container:hover input~.checkmark {
  background-color: #fff;
}

.w3l-banner-slider-main .userhny-check label.container input:checked~.checkmark {
  background-color: #ff7315;
  border: transparent;
}

.w3l-banner-slider-main .userhny-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.w3l-banner-slider-main .userhny-check label.container input:checked~.checkmark:after {
  display: block;
}

.w3l-banner-slider-main .userhny-check label.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.w3l-banner-slider-main .userhny-check p.privacy-policy {
  margin: 0;
  font-size: 15px;
  color: #c5b2b2;
  font-weight: 600;
}

.w3l-banner-slider-main .modal-header .close {
  float: right !important;
}

.w3l-banner-slider-main .form-control:focus {
  border: 1px solid #ccc;
  outline: 0;
  box-shadow: none !important;
}

.w3l-banner-slider-main .button-log a {
  color: #333;
  font-size: 1em;
  text-decoration: none;
}

.w3l-banner-slider-main .overlay-login button.overlay-close1 {
  z-index: 9999;
  color: #fff;
}

.w3l-banner-slider-main .btn-open:after {
  color: #333;
  transition-property: all .2s linear 0s;
  transition: all .2s linear 0s;
}

.w3l-banner-slider-main .btn-open:hover:after {
  color: #34B484;
}

.w3l-banner-slider-main .overlay-login.open .btn-close:after {
  color: #fff;
  font-family: "FontAwesome";
  transition-property: all .2s linear 0s;
  transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
}

.w3l-banner-slider-main .btn-close:hover:after {
  color: #34B484;
}

.w3l-banner-slider-main .overlay-login button.overlay-close1 {
  z-index: 999;
  color: #fff;
  right: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
  background: none;
  color: #fff;
  border: 2px solid #232020;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.w3l-banner-slider-main .overlay-login {
  display: none;
  position: fixed;
  top: 0;
  background: #3a3535;
  overflow: auto;
  z-index: 9999;
  padding: 3em 3em;
  right: 0;
  height: 100%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.w3l-banner-slider-main .login-bghny {
  background: #232020;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.w3l-banner-slider-main .wrap {
  margin: 5em auto 0;
}

.w3l-banner-slider-main .wrap h5 {
  font-size: 2em;
  color: #fff;
}

.w3l-banner-slider-main .wrap ul.wrap-nav {
  border-bottom: 1px solid #575757;
  text-transform: capitalize;
  padding: 150px 0px 100px;
}

.w3l-banner-slider-main .wrap ul.wrap-nav li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}

.w3l-banner-slider-main .wrap ul.wrap-nav li a {
  color: #34B484;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  transition: all .2s linear 0s;
  transition-property: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
}

.w3l-banner-slider-main .wrap ul.wrap-nav li a:hover {
  color: #f0f0f0;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul {
  padding: 20px 0;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul li {
  display: block;
  font-size: 13px;
  width: 100%;
  color: #e9e9e9;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul li a {
  color: #f0f0f0;
}

.w3l-banner-slider-main .wrap ul.wrap-nav ul li a:hover {
  color: #34B484;
}

@media screen and (max-width: 48em) {
  .w3l-banner-slider-main .wrap ul.wrap-nav>li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757;
  }

  .w3l-banner-slider-main .wrap ul.wrap-nav {
    padding: 30px 0px 0px;
  }

  .w3l-banner-slider-main .social {
    color: #c1c1c1;
    font-size: 25px;
    padding: 15px 0;
  }

  .w3l-banner-slider-main .social-icon {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    display: block;
    margin: 5px 0;
  }
}

.w3l-banner-slider-main .content {
  width: 100%;
  margin-top: 200px;
  font-size: 20px;
  color: #333;
  text-align: center;
}


.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}